{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:wheels' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Wheels
        and tires</a>
</div>
{% endblock nav %}

{% block content %}
{% if brake_and_rotors %}
{% for brake_and_rotors in brake_and_rotors %}
<a href="{% url 'sparedealers:sparepart_detail' brake_and_rotors.id %}">
    <div class="main_container">
        {% if brake_and_rotors.photo %}
        <img src="{{ brake_and_rotors.photo.url}}" alt="Avatar" style="width:100px">
        {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
        {% endif %}
        <span>
            <p style="color: #0f172e;">{{ brake_and_rotors.name }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Price:</strong> {{ brake_and_rotors.price }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Contact info:</strong> {{ brake_and_rotors.phone_number }}</p>
        </span>
    </div>
</a>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}