{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:wheels' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Wheels and tires</a>
</div> 
{% endblock nav %}

{% block content %}
{% if rims %}
{% for rims in rims %}
<div class="main_container">
    {% if rims.photo %}
        <img src="{{ rims.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px
    {% endif %}
    <p><span>{{ rims.name }}</span>{{ rims.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ rims.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ rims.category }} | <strong>Subcategory: </strong>{{ rims.sub_category }} | 
        <strong>Condition:</strong> {{ rims.condition }} | <strong>Year of Manufacture: </strong>{{ rims.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ rims.car_make }}| <strong>Car Model: </strong>{{ rims.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}