[run]
branch=True
source=snm
omit=config/*, snm/**/migrations/*, snm/**/apps.py, snm/**/admin.py, snm/**/urls.py, snm/**/__init__.py, snm/**/managers.py, snm/schema.py

[report]
show_missing=True

[html]
directory=coverage