django>=3.0
psycopg2>=2.8.4
django-environ>=0.4.5
pytest-django>=3.7.0
django-phone-field>=1.8.0
pytest-cov>=2.8.1
tox>=3.14.1
Pillow>=6.2.1
model-bakery>=1.0.2
django-phonenumber-field>=3.0.1
phonenumbers>=8.10.23