django>=3.1.7 
psycopg2>=2.8.4
django-environ>=0.4.5
pytest-django>=4.1.0
pytest-cov>=2.8.1
tox>=3.14.1
model-bakery>=1.0.2
flake8>=3.7.9
flake8-docstrings>=1.5.0
graphene-django>=2.15.0
django-phonenumber-field>=5.1.0
django-graphql-jwt==0.3.2
phonenumbers>=8.12.23