{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav %}
<div class="topnav">
  <a class="active" href="{% url 'sparedealers:sparepart-list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
    Home</a>
</div>
{% endblock nav %}

{% block content%}
<br>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ form.username|as_crispy_field }}
  </div>
  <div class="form-group">
    {{ form.password|as_crispy_field }}
  </div>
  <button type="submit" class="btn btn-light" style="background-color:#0f172e !important; color:white;">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'carowners:signup' %}">sign up</a></p>
{% comment %} <p><a href="{% url 'password_reset' %}">Forgot password?</a></p> {% endcomment %}
{% endblock content%}

{% block footer%}
{% endblock footer%}