{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:sparepart-list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        Home</a>
</div>
{% endblock nav %}

{% block content %}
<br>
<img src="{% static 'svg/tick.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<span>
    <p class="text-muted" style="text-align: center;">Password successfully changed!
    </p>
</span>
{% endblock %}