{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <br>
    <img src="{% static 'svg/user.png' %}" width="50" height="50" alt=""
        style="margin-left: auto; margin-right: auto; display: block;">
    {% if user.is_authenticated %}
    <p style="text-align: center; color: white;">{{ user.first_name }} {{ user.last_name }}</p>
    {% endif %}
</div>
{% endblock nav %}

{% block content %}
<br>
<div class="container col-md-6" style="background-color: white;">
    <hr>
    <span>
        <a href="{% url 'sparedealers:listings' %}">
            <p>View my parts</p>
        </a>
    </span>
    <hr>
    <span>
        <a href="{% url 'mechanics:listings' %}">
            <p>View my garage/specialities</p>
        </a>
    </span>
    <hr>
    <span>
        <br>
        <h5><strong>Profile settings</strong></h5>
        <hr>
    </span>
    <span>
        <a href="{% url 'password_change' %}">
            <p>Change password</p>
        </a>
    </span>
    <hr>
    <span>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" style="text-align: left;">
            <p>Log out</p>
        </a>
        {% else %}
        <a href="{% url 'login' %}" style="text-align: left;">
            <p>Log in</p>
        </a>
        {% endif %}
    </span>
    <hr>
</div>
{% endblock %}