{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}
<br>
<h3>Sign up as a {{ user_type }}</h3>
<hr>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form|crispy }}
    </div>
    <button type="submit" class="btn btn-light btn-lg btn-block" style="background-color:#D02222 !important; color:white;">Sign up</button>
</form>
<p>Already have an account? <a href="{% url 'login' %}">login</a></p>
{% comment %} <p><a href="{% url 'password_reset' %}">Forgot password?</a></p> {% endcomment %}
{% endblock content%}

{% block footer%}
{% endblock footer%}