{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content%}
<div class="container">
  {% if user.is_dealer %}
    <br>
    <h3>Create Your Sparepart</h3>
    <hr>
    <form method="post">{% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <button type="submit" class="btn btn-light btn-lg btn-block" style="background-color:#D02222 !important; color:white;">Save</button>
    </form>
  {% else %}
    <br>
    <h3>Become a spare dealer to sell a part</h3>
    <hr>
    <a href="{% url 'sparedealers:dealer_signup' %}"><p>Sign up as a spare dealer</p></a>
  {% endif %}
  </div>
<br>
<script>
  const categoryInput = document.querySelector("select#id_category")
  const subcategoryInput = document.querySelector("select#id_sub_category")

  categoryInput.onchange = function (e) {
    getAndSetSubcategories(e.target.value)
  }

  function getAndSetSubcategories(category) {
    let subCatReq = new XMLHttpRequest()

    subCatReq.addEventListener("load", function (e) {
      let subcategories = JSON.parse(e.target.response)

      // Map the list of subcategory objects to a list of options
      subcategories = subcategories.map(function (subcategory) {
        return `<option value="${subcategory.pk}">${subcategory.fields.name}</option>`
      })

      // Add default option to start of the array
      subcategories.splice(0,0,'<option value="" selected="">---------</option>')

      subcategoryInput.innerHTML = subcategories.join(" ")
    })

    subCatReq.open("GET", `{% url 'sparedealers:get_subcategories' %}?category=${category}`)
    subCatReq.send()
  }
</script>

{% endblock %}
{% block footer %}
{% endblock %}