{% extends 'base.html' %}

{% block content %}
<!-- Add icon library -->
<h2 style="text-align: center;">Profile details</h2>
<hr>
<br>

<div class="card">
  {% if dealers.photo %}
      <img src="{{ dealers.photo.url }}" alt="{{ dealers.first_name}}" style="width:100%">
  {% endif %}
  <h3>Name: {{ dealers.first_name }} {{ dealers.last_name }}</h3>
  <p class="title">Spare Dealer</p>
  <p>Store: {{ dealers.store }}</p>
  <p>Number: {{ dealers.phone_number }}</p>
  <a href="{% url 'sparedealers:dealer_update' dealers.id %}">Edit my profile</a>
  <p><button>View my parts</button></p>
</div>

{% endblock %}

{% block footer %}
{% endblock %}