{% extends 'base.html' %}

{% block content %}
<br>
<div class="card">
    <img src="" alt="John" style="width:100%">
    <br>
    <h3><b>{{ dealer.first_name}} {{ dealer.last_name}}</b></h3>
    <p class="title">SpareDealer</p>
    <p>{{ dealer.store }}</p>
    <!-- <div style="margin: 24px 0;">
      <a href="https://www.linkedin.com/in/md-abu-talha/" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.facebook.com/talha.sust.cse" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://github.com/talha08" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://medium.com/@talhaqc" target="_blank"><i class="fa fa-medium"></i></a>
    </div> -->
    <p><a href="" class="button">Edit Profile</a></p>
  </div>
  {% endblock %}

  {% block footer %}
  {% endblock %}