{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:sparepart-list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Home</a>
</div> 
{% endblock nav %}

{% block content %}
{% for audio in audios %}
<div class="main_container">
    {% if audio.photo %}
        <img src="{{ audio.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ audio.name }}</span>{{ audio.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ audio.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ audio.category }} | <strong>Subcategory: </strong>{{ audio.sub_category }} | 
        <strong>Condition:</strong> {{ audio.condition }} | <strong>Year of Manufacture: </strong>{{ audio.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ audio.car_make }}| <strong>Car Model: </strong>{{ audio.car_model }}</p>
</div>
{% endfor %}
{% endblock %}