{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:sparepart-list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Home</a>
</div> 
{% endblock nav %}

{% block content %}
{% for electrical in electricals %}
<div class="main_container">
    {% if electrical.photo %}
        <img src="{{ electrical.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ electrical.name }}</span>{{ electrical.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ electrical.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ electrical.category }} | <strong>Subcategory: </strong>{{ electrical.sub_category }} | 
        <strong>Condition:</strong> {{ electrical.condition }} | <strong>Year of Manufacture: </strong>{{ electrical.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ electrical.car_make }}| <strong>Car Model: </strong>{{ electrical.car_model }}</p>
</div>
{% endfor %}
{% endblock %}