{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:sparepart-list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Home</a>
</div> 
{% endblock nav %}

{% block content %}
{% for performance in performances %}
<div class="main_container">
    {% if performance.photo %}
        <img src="{{ performance.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ performance.name }}</span>{{ performance.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ performance.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ performance.category }} | <strong>Subcategory: </strong>{{ performance.sub_category }} | 
        <strong>Condition:</strong> {{ performance.condition }} | <strong>Year of Manufacture: </strong>{{ performance.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ performance.car_make }}| <strong>Car Model: </strong>{{ performance.car_model }}</p>
</div>
{% endfor %}
{% endblock %}