{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:sparepart-list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Home</a>
</div> 
{% endblock nav %}

{% block content %}
{% for transmission in transmissions %}
<div class="main_container">
    {% if transmission.photo %}
        <img src="{{ transmission.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ transmission.name }}</span>{{ transmission.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ transmission.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ transmission.category }} | <strong>Subcategory: </strong>{{ transmission.sub_category }} | 
        <strong>Condition:</strong> {{ transmission.condition }} | <strong>Year of Manufacture: </strong>{{ transmission.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ transmission.car_make }}| <strong>Car Model: </strong>{{ transmission.car_model }}</p>
</div>
{% endfor %}
{% endblock %}