{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'mechanics:listings' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Listings</a>
</div> 
{% endblock nav %}

{% block content %}
<div class="container">
    <br>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form-group">
        {{ form.name|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted">
        Fill out the name of your speciality e.g Wiring.
        </small>
    </div>
    <div class="form-group">
        {{ form.car_make|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted">
        Fill out the car make you specialize in.
        </small>
    </div>
    <div class="form-group">
        {{ form.price|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted">
        How much do you sell it for?s
        </small>
    </div>
    <div class="form-group">
        {{ form.description|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted">
        Optionally describe your speciality.
        </small>
    </div>

    <h3>Contact information</h3>
    <hr>
    <div class="form-group">
        {{ form.first_name|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.last_name|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.phone_number|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.region|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.place|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.store|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.photo|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-light" style="background-color:#0f172e !important; color:white;">Confirm</button>
</form>
</div>
<br>
{% endblock %}

{% block footer %}
{% endblock footer %}