{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:accessories' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        Accessories</a>
</div>
{% endblock nav %}

{% block content %}
{% if cameras %}
{% for cameras in cameras %}
<div class="main_container">
    {% if cameras.photo %}
    <img src="{{ cameras.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
    <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <span>
        <p style="color: #0f172e;">{{ cameras.name }}</p>
    </span>
    <span>
        <p style="font-size: smaller;"><strong>Price:</strong> {{ cameras.price }}</p>
    </span>
    <span>
        <p style="font-size: smaller;"><strong>Contact info:</strong> {{ cameras.phone_number }}</p>
    </span>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}