{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:accessories' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Accessories</a>
</div> 
{% endblock nav %}

{% block content %}
{% if dash_kits %}
{% for dash_kits in dash_kits %}
<div class="main_container">
    {% if dash_kits.photo %}
        <img src="{{ dash_kits.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ dash_kits.name }}</span>{{ dash_kits.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ dash_kits.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ dash_kits.category }} | <strong>Subcategory: </strong>{{ dash_kits.sub_category }} | 
        <strong>Condition:</strong> {{ dash_kits.condition }} | <strong>Year of Manufacture: </strong>{{ dash_kits.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ dash_kits.car_make }}| <strong>Car Model: </strong>{{ dash_kits.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}