{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:accessories' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        Accessories</a>
</div>
{% endblock nav %}

{% block content %}
{% if dash_kits %}
{% for dash_kits in dash_kits %}
<a href="{% url 'sparedealers:sparepart_detail' dash_kits.id %}">
    <div class="main_container">
        {% if dash_kits.photo %}
        <img src="{{ dash_kits.photo.url}}" alt="Avatar" style="width:100px">
        {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
        {% endif %}
        <span>
            <p style="color: #0f172e;">{{ dash_kits.name }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Price:</strong> {{ dash_kits.price }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Contact info:</strong> {{ dash_kits.phone_number }}</p>
        </span>
    </div>
</a>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}