{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:accessories' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Accessories</a>
</div> 
{% endblock nav %}

{% block content %}
{% if floor_mats %}
{% for floor_mats in floor_mats %}
<div class="main_container">
    {% if floor_mats.photo %}
        <img src="{{ floor_mats.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ floor_mats.name }}</span>{{ floor_mats.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ floor_mats.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ floor_mats.category }} | <strong>Subcategory: </strong>{{ floor_mats.sub_category }} | 
        <strong>Condition:</strong> {{ floor_mats.condition }} | <strong>Year of Manufacture: </strong>{{ floor_mats.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ floor_mats.car_make }}| <strong>Car Model: </strong>{{ floor_mats.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}