{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:accessories' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Accessories</a>
</div> 
{% endblock nav %}

{% block content %}
{% if gps_systems %}
{% for gps_systems in gps_systems %}
<div class="main_container">
    {% if gps_systems.photo %}
        <img src="{{ gps_systems.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ gps_systems.name }}</span>{{ gps_systems.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ gps_systems.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ gps_systems.category }} | <strong>Subcategory: </strong>{{ gps_systems.sub_category }} | 
        <strong>Condition:</strong> {{ gps_systems.condition }} | <strong>Year of Manufacture: </strong>{{ gps_systems.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ gps_systems.car_make }}| <strong>Car Model: </strong>{{ gps_systems.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}