{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:accessories' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Accessories</a>
</div> 
{% endblock nav %}

{% block content %}
{% if radar_detectors %}
{% for radar_detectors in radar_detectors %}
<div class="main_container">
    {% if radar_detectors.photo %}
        <img src="{{ radar_detectors.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ radar_detectors.name }}</span>{{ radar_detectors.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ radar_detectors.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ radar_detectors.category }} | <strong>Subcategory: </strong>{{ radar_detectors.sub_category }} | 
        <strong>Condition:</strong> {{ radar_detectors.condition }} | <strong>Year of Manufacture: </strong>{{ radar_detectors.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ radar_detectors.car_make }}| <strong>Car Model: </strong>{{ radar_detectors.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}