{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:accessories' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Accessories</a>
</div> 
{% endblock nav %}

{% block content %}
{% if tire_inflator_compressor %}
{% for tire_inflator_compressor in tire_inflator_compressor %}
<div class="main_container">
    {% if tire_inflator_compressor.photo %}
        <img src="{{ tire_inflator_compressor.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ tire_inflator_compressor.name }}</span>{{ tire_inflator_compressor.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ tire_inflator_compressor.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ tire_inflator_compressor.category }} | <strong>Subcategory: </strong>{{ tire_inflator_compressor.sub_category }} | 
        <strong>Condition:</strong> {{ tire_inflator_compressor.condition }} | <strong>Year of Manufacture: </strong>{{ tire_inflator_compressor.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ tire_inflator_compressor.car_make }}| <strong>Car Model: </strong>{{ tire_inflator_compressor.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}