{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:audio' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Audio</a>
</div> 
{% endblock nav %}

{% block content %}
{% if stereos %}
{% for stereos in stereos %}
<div class="main_container">
    {% if stereos.photo %}
        <img src="{{ stereos.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ stereos.name }}</span>{{ stereos.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ stereos.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ stereos.category }} | <strong>Subcategory: </strong>{{ stereos.sub_category }} | 
        <strong>Condition:</strong> {{ stereos.condition }} | <strong>Year of Manufacture: </strong>{{ stereos.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ stereos.car_make }}| <strong>Car Model: </strong>{{ stereos.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}