{% extends 'base.html' %}

{% block content %}
<!-- Add icon library -->
<h2 style="text-align: center;">Profile details</h2>
<hr>
<br>

<div class="card">
  {% if carowner.photo %}
      <img src="{{ carowner.photo.url }}" alt="{{ carowner.first_name}}" style="width:100%">
  {% endif %}
  <h3>Name: {{ carowner.first_name }} {{ carowner.last_name }}</h3>
  <p class="title">Car owner</p>
  <p>Store: {{ carowner.store }}</p>
  <p>Number: {{ carowner.phone_number }}</p>
  <a href="{% url 'carowners:update' carowner.id %}">Edit my profile</a>
  {% comment %} <p><button>View my specialities</button></p> {% endcomment %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}