{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:engine' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Engine</a>
</div> 
{% endblock nav %}

{% block content %}
{% if engine_components %}
{% for engine_components in engine_components %}
<div class="main_container">
    {% if engine_components.photo %}
        <img src="{{ engine_components.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ engine_components.name }}</span>{{ engine_components.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ engine_components.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ engine_components.category }} | <strong>Subcategory: </strong>{{ engine_components.sub_category }} | 
        <strong>Condition:</strong> {{ engine_components.condition }} | <strong>Year of Manufacture: </strong>{{ engine_components.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ engine_components.car_make }}| <strong>Car Model: </strong>{{ engine_components.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}