{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:engine' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        Engine</a>
</div>
{% endblock nav %}

{% block content %}
{% if engine_covers %}
{% for engine_covers in engine_covers %}
<a href="{% url 'sparedealers:sparepart_detail' engine_covers.id %}">
    <div class="main_container">
        {% if engine_covers.photo %}
        <img src="{{ engine_covers.photo.url}}" alt="Avatar" style="width:100px">
        {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
        {% endif %}
        <span>
            <p style="color: #0f172e;">{{ engine_covers.name }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Price:</strong> {{ engine_covers.price }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Contact info:</strong> {{ engine_covers.phone_number }}</p>
        </span>
    </div>
</a>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}