{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:interior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Interior</a>
</div> 
{% endblock nav %}

{% block content %}
{% for camera in cameras %}
<div class="main_container">
    {% if camera.photo %}
        <img src="{{ camera.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ camera.name }}</span>{{ camera.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ camera.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ camera.category }} | <strong>Subcategory: </strong>{{ camera.sub_category }} | 
        <strong>Condition:</strong> {{ camera.condition }} | <strong>Year of Manufacture: </strong>{{ camera.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ camera.car_make }}| <strong>Car Model: </strong>{{ camera.car_model }}</p>
</div>
{% endfor %}
{% endblock %}