{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:interior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Interior</a>
</div> 
{% endblock nav %}

{% block content %}
{% for cooling_systems in cooling_systems %}
<div class="main_container">
    {% if cooling_systems.photo %}
        <img src="{{ cooling_systems.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ cooling_systems.name }}</span>{{ cooling_systems.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ cooling_systems.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ cooling_systems.category }} | <strong>Subcategory: </strong>{{ cooling_systems.sub_category }} | 
        <strong>Condition:</strong> {{ cooling_systems.condition }} | <strong>Year of Manufacture: </strong>{{ cooling_systems.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ cooling_systems.car_make }}| <strong>Car Model: </strong>{{ cooling_systems.car_model }}</p>
</div>
{% endfor %}
{% endblock %}