{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:interior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Interior</a>
</div> 
{% endblock nav %}

{% block content %}
{% for floor_mat in floor_mats %}
<div class="main_container">
    {% if floor_mat.photo %}
        <img src="{{ floor_mat.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ floor_mat.name }}</span>{{ floor_mat.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ floor_mat.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ floor_mat.category }} | <strong>Subcategory: </strong>{{ floor_mat.sub_category }} | 
        <strong>Condition:</strong> {{ floor_mat.condition }} | <strong>Year of Manufacture: </strong>{{ floor_mat.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ floor_mat.car_make }}| <strong>Car Model: </strong>{{ floor_mat.car_model }}</p>
</div>
{% endfor %}
{% endblock %}