{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:sparepart-list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Home</a>
</div> 
{% endblock nav %}

{% block content %}
<br>
<ul class="list-group">
    <a href="{% url 'sparedealers:floor_mats' %}">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Floor mats
    <span class="badge badge-primary badge-pill">{{ floor_mats|length }}</span>
  </li>
    </a>
    <a href="{% url 'sparedealers:cameras' %}">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Cameras
    <span class="badge badge-primary badge-pill">{{ cameras|length }}</span>
  </li>
    </a>
    <a href="{% url 'sparedealers:seat_covers' %}">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Seat covers
    <span class="badge badge-primary badge-pill">{{ seat_covers|length }}</span>
  </li>
    </a>
    <a href="{% url 'sparedealers:cooling_systems' %}">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Cooling systems
    <span class="badge badge-primary badge-pill">{{ cooling_systems|length }}</span>
  </li>
    </a>
    <a href="{% url 'sparedealers:timing_kits' %}">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Timing kits
    <span class="badge badge-primary badge-pill">{{ timing_kits|length }}</span>
  </li>
</ul>
{% endblock %}