{% extends 'base.html' %}
{% load static %}
{% block nav %}
{% include "top_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
<ul class="list-group">
  <a href="{% url 'sparedealers:shift_knobs' %}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Shift knobs
    </li>
  </a>
  <a href="{% url 'sparedealers:dash_covers' %}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Dash covers
    </li>
  </a>
  <a href="{% url 'sparedealers:sun_shades' %}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Sun shades
    </li>
  </a>
  <a href="{% url 'sparedealers:steering_wheels' %}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Steering wheels
    </li>
  </a>
</ul>
{% endblock %}