{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block nav %}
{% include "base_nav.html" %}
{% endblock nav %}
{% block content%}
<br>
<div class="container col-md-10"
    style="background-color: #FFFFFF; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 15px;">
    <br>
    <h2 style="text-align: center;">Post AD</h2>
    <br>
    <div class="alert col-md-10" style="margin:auto;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <a href="{% url 'sparedealers:create' %}" style="color: #000000 !important;">Post sparepart
            instead?</a>
    </div>
    <br>
    <form method="post" enctype="multipart/form-data" class="col-md-10"
        style="margin-left: auto; margin-right: auto; display: block;">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    {{ form.car_make|as_crispy_field }}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ form.speciality|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.logo|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.phone_number|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.location|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.garage|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-light col-md-6"
            style="background-color:#0f172e !important; color:white; margin-left: auto; margin-right: auto; display: block;">Post
            AD</button>
    </form>
    <br>
</div>
<br>
{% endblock %}
{% block footer %}
{% endblock %}