{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% include "mechanics/mech_top_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
<form method="post" class="col-md-6" style="margin-left: auto; margin-right: auto; display: block;">{% csrf_token %}
    <br>
    <img src="{% static 'svg/cross.png' %}" width="100" height="100" alt=""
        style="margin-left: auto; margin-right: auto; display: block;">
    <br>
    <p style="text-align: center;">Are you sure you want to delete <strong>{{ object }}</strong>?</p>
    <button type="submit" class="btn btn-light"
        style="background-color:#0f172e !important; color:white;">Delete</button>
</form>
{% endblock %}