{% extends 'base.html' %}
{% load static %}
{% block nav %}
{% include "base_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
<div class="contianer details col-md-6"
    style="background-color: #FFFFFF; margin-left: auto; margin-right: auto; display: block;">
    <div class="row">
        <div class="col-6">
            {% if object.logo %}
            <img src="{{ object.logo.url}}" alt="Avatar" style="width: 90% !important;">
            {% else %}
            <img src="{% static 'default/process.png' %}" alt="Avatar">
            {% endif %}
        </div>
        <div class="col-6">
            <span>
                <p style="font-size: smaller;"><strong>Name:</strong> {{ object.first_name }} {{ object.last_name }}</p>
            </span>
            <span>
                <p style="font-size: smaller;"><strong>Speciality:</strong> {{ object.specialities }}</p>
            </span>
            <span>
                <p style="font-size: smaller;"><strong>Phone number:</strong> {{ object.phone_number }}</p>
            </span>
            <span>
                <p style="font-size: smaller;"><strong>Location:</strong> {{ object.location }}</p>
            </span>
        </div>
    </div>
    <hr>
    {% endblock %}