{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav %}

<!-- Top Navigation Menu -->
<div class="topnav">
    <!-- <a href="#home" class="active">Logo</a> -->
    <div class="row">
        <div class="col-8">
            <a href="{% url 'sparedealers:sparepart-list' %}" class="active">
                <img src="{% static 'logo/spares-logo.svg' %}" width="120" height="60" alt="">
            </a>
        </div>
        <div class="col-4 nav_details">
            <div class="row">
                <div class="col" style="margin-top: 2%;">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <p style="color: white;">Log out</p>
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}">
                        <p style="color: white;">Log in</p>
                    </a>
                    {% endif %}
                    <a href="{% url 'carowners:signup' %}">
                        <p style="color: white;">Register</p>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'mechanics:create' %}"><button type="button" class="btn btn-light btn-lg btn-block"
                            style="width: auto; background-color: #0f172e; color: white;">SELL</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock nav %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" style="background-color: #d02222;">
    {% include "messages.html" %}
    <div class="container">
        <div class="alert" style="margin:auto; max-width:550px">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <a href="{% url 'sparedealers:sparepart-list' %}" style="color: white !important;">Find a sparepart
                instead?</a>
        </div>
        <p class="lead" style="text-align: center;">Find anything in sparesnmechs</p>
        <form style="margin:auto; max-width:500px; margin-left: auto; margin-right: auto; display: block;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span>
                            <div>{{ filter.form.car_make|as_crispy_field }}</div>
                            <div>
                                {{ filter.form.location|as_crispy_field }}
                                <button type="submit" style="background-color: #0f172e;">Search</button>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <span><button onclick="document.getElementById('id01').style.display='block'"
                style="width: auto; background-color: #0f172e; margin-left: auto; margin-right: auto; display: block;">Advanced
                Search</button></span>

        <!-- The Modal -->
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>

            <!-- Modal Content -->
            <form method="get" class="modal-content animate col-md-4">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <div class="container">
                    <br>
                    {{ filter.form|crispy}}
                    <button type="submit" class="btn btn-light"
                        style="background-color:#0f172e !important; color:white; margin-left: auto; margin-right: auto; display: block;">Advanced
                        Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if filter.qs %}
<div class="row" style="margin-left: auto; margin-right: auto; display: block;">
    <div class="column">
        <div class="card">
            <a href="{% url 'mechanics:body_work' %}">
                <img src="{% static 'svg/accessories.jpg' %}">
                <p>Body Work</p>
            </a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="{% url 'mechanics:electrical' %}">
                <img src="{% static 'svg/audio_n_video.jpg' %}">
                <p>Electrical</p>
            </a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="{% url 'mechanics:mechanical' %}">
                <img src="{% static 'svg/electrical.jpg' %}">
                <p>Mechanical</p>
            </a>
        </div>
    </div>
</div>
<hr>
<div class="image_container">
    <img src="{% static 'default/spare2.jpg' %}" style="width:100%; height: 50%;">
    <div class="centered">
        <h1>Sparesnmechs featured ADs</h1>
        <p>Would you like your AD to appear on this front page?</p>
        <a href="{% url 'carowners:contact' %}"><button style="background-color: #0f172e;">Contact us</button></a>
    </div>
</div>
<hr>
{% include "mechanics/mech_ad_cards.html" %}
<br>
<br>
<br>
{% else %}
<br>
<img src="{% static 'svg/search.png' %}" width="200" height="200" alt=""
    style="margin-left: auto; margin-right: auto; display: block; margin-top: auto; margin-bottom: auto;">
<br>
<span>
    <h3 style="text-align: center;"><strong>Oops! Speciality/Garage Not Found</strong></h3>
    <p class="text-muted" style="text-align: center;">Change filter keywords or add a new part</p>

    <br>
    <a href="{% url 'sparedealers:create' %}"><button type="submit" class="btn btn-light col-md-4"
            style="background-color:#0f172e !important; color:white; margin-left: auto; margin-right: auto; display: block;">Add
            sparepart</button></a>
</span>
<br>
<br>
<br>
{% endif %}
{% endblock %}