{% extends 'base.html' %}

{% block content %}
<!-- Add icon library -->
<h2 style="text-align: center;">Profile details</h2>
<hr>
<br>

<div class="card">
  {% if mechanic.photo %}
      <img src="{{ mechanic.photo.url }}" alt="{{ mechanic.first_name}}" style="width:100%">
  {% endif %}
  <h3>Name: {{ mechanic.first_name }} {{ mechanic.last_name }}</h3>
  <p class="title">Mechanic</p>
  <p>Store: {{ mechanic.store }}</p>
  <p>Number: {{ mechanic.phone_number }}</p>
  <a href="{% url 'mechanics:mech_update' mechanic.id %}">Edit my profile</a>
  <p><button>View my specialities</button></p>
</div>
{% endblock %}

{% block footer %}
{% endblock %}