{% extends 'base.html' %}

{% load static %}

{% block carousel %}
<div class="mySlides fade">
  <img src="{% static 'carousel/mc.jpg' %}" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="{% static 'carousel/bmw.jpg' %}" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="{% static 'carousel/fix.jpg' %}" style="width:100%">
</div>
<br>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
} 
</script>
{% endblock carousel %}

{% block content %}
<br>
<div class="container">

  <h2 style="text-align: center;">Search</h2>
  <hr>
  <br>
  <form class="example" action="{% url 'mechanics:search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search a mechanic/speciality">
  </form>
  <br>

  <h2 style="text-align: center;">Featured Mechanics</h2>
  <hr>
  <br>
  <div class="scrolling-wrapper">
    {% for mechanic in mechanics %}
      <div class="mech_card">
        {% if mechanic.photo %}
            <img src="{{ mechanic.photo.url }}" alt="{{ mechanic.name }}" style="width:50%">
        {% endif %}
        <p>{{ mechanic.first_name }} {{ mechanic.last_name }}</p>
        <hr>
        <p>{{ mechanic.phone_number }}</p>
        <hr>
        <p>{{ mechanic.specialities }}</p>
      </div>
    {% endfor %}
  </div>
</div>
<br>
</div>
{% endblock %}

<script>
  const categoryInput = document.querySelector("select#id_category")
  const subcategoryInput = document.querySelector("select#id_sub_category")

  categoryInput.onchange = function (e) {
    getAndSetSubcategories(e.target.value)
  }

  function getAndSetSubcategories(category) {
    let subCatReq = new XMLHttpRequest()

    subCatReq.addEventListener("load", function (e) {
      let subcategories = JSON.parse(e.target.response)

      // Map the list of subcategory objects to a list of options
      subcategories = subcategories.map(function (subcategory) {
        return `<option value="${subcategory.pk}">${subcategory.fields.name}</option>`
      })

      // Add default option to start of the array
      subcategories.splice(0,0,'<option value="" selected="">---------</option>')

      subcategoryInput.innerHTML = subcategories.join(" ")
    })

    subCatReq.open("GET", `{% url 'sparedealers:get_subcategories' %}?category=${category}`)
    subCatReq.send()
  }
</script>
