{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav %}
{% include "base_nav.html" %}
{% endblock nav %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
    {% include "messages.html" %}
    <div class="container">
        <p class="lead" style="text-align: center;">Find a mechanic/garage or <span
                class="badge badge-pill badge-success"><a href="{% url 'sparedealers:sparepart-list' %}">Find
                    spareparts
                    instead</a></span></p>
        <form style="margin:auto; max-width:500px; margin-left: auto; margin-right: auto; display: block;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span>
                            <div>{{ filter.form.car_make|as_crispy_field }}</div>
                            <div>
                                <!-- {{ filter.form.location|as_crispy_field }} -->
                                <button type="submit" style="background-color: #0f172e;">Search</button>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <p style="text-align: center;">Or</p>
        <span><button onclick="document.getElementById('id01').style.display='block'"
                style="width: auto; background-color: #0f172e; margin-left: auto; margin-right: auto; display: block;">Proceed
                To Advanced
                Search</button></span>

        <!-- The Modal -->
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>

            <!-- Modal Content -->
            <form method="get" class="modal-content animate col-md-4">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <div class="container">
                    <br>
                    <p class="text-muted" style="text-align: center;">Find anything in Sparesnmechs advanced search</p>
                    <hr>
                    <br>
                    {{ filter.form|crispy}}
                    <button type="submit" class="btn btn-light"
                        style="background-color:#0f172e !important; color:white; margin-left: auto; margin-right: auto; display: block;">Advanced
                        Search</button>
                </div>
                <br>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block image %}
<div class="image_container">
    <img src="{% static 'default/banner.jpg' %}" style="width:100%; height: 40%;">
    <div class="centered"
        style="background-color: #808080; border-radius: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
        <h1>Sparesnmechs featured ADs</h1>
        <p>Would you like your AD to appear on this front page?</p>
        <a href="{% url 'carowners:contact' %}"><button style="background-color: #d02222; border-radius: 15px;">Contact
                us</button></a>
    </div>
</div>
{% endblock %}

{% block content %}
{% if filter.qs %}
<br>
<h4>Featured categories</h4>
<hr>
<div class="row">
    <div class="column" style="margin-left: auto; margin-right: auto; display: block;">
        <div class="card">
            <a href="{% url 'mechanics:body_work' %}">
                <img src="{% static 'svg/accessories.jpg' %}">
                <p>Body Work</p>
            </a>
        </div>
    </div>

    <div class="column" style="margin-left: auto; margin-right: auto; display: block;">
        <div class="card">
            <a href="{% url 'mechanics:electrical' %}">
                <img src="{% static 'svg/audio_n_video.jpg' %}">
                <p>Electrical</p>
            </a>
        </div>
    </div>

    <div class="column" style="margin-left: auto; margin-right: auto; display: block;">
        <div class="card">
            <a href="{% url 'mechanics:mechanical' %}">
                <img src="{% static 'svg/electrical.jpg' %}">
                <p>Mechanical</p>
            </a>
        </div>
    </div>
</div>
<br>
<h4>Featured ADs</h4>
<hr>
{% include "mechanics/mech_ad_cards.html" %}
<br>
<br>
<br>
{% else %}
<br>
<img src="{% static 'svg/search.png' %}" width="200" height="200" alt=""
    style="margin-left: auto; margin-right: auto; display: block; margin-top: auto; margin-bottom: auto;">
<br>
<span>
    <h3 style="text-align: center;"><strong>Oops! Speciality/Garage Not Found</strong></h3>
    <p class="text-muted" style="text-align: center;">Change filter keywords or add a new part</p>

    <br>
    <a href="{% url 'sparedealers:create' %}"><button type="submit" class="btn btn-light col-md-4"
            style="background-color:#0f172e !important; color:white; margin-left: auto; margin-right: auto; display: block;">Add
            sparepart</button></a>
</span>
<br>
<br>
<br>
{% endif %}
{% endblock %}