{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% include "mechanics/mech_base_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
{% if listings %}
{% for listing in listings %}
<div class="main_container col-md-6" style="margin-left: auto; margin-right: auto; display: block;">
    <div class="row">
        <div class="col">
            {% if listing.photo %}
            <img src="{{ listing.photo.url}}" alt="Avatar" style="width:100px; height: 80px;">
            {% else %}
            <img src="{% static 'svg/car.png' %}" alt="Avatar" style="width:100px; height: 80px;">
            {% endif %}
        </div>
        <div class="col">
            <span>
                <p style="font-size: smaller;">{{ listing.specialities }}</p>
            </span>
            <span>
                <p style="font-size: smaller;">{{ listing.car_makes }}</p>
            </span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <a href="{% url 'mechanics:delete' listing.id %}">
                <button type="submit" class="btn btn-light"
                    style="background-color:#0f172e !important; color:white;">Delete
                </button>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'mechanics:update' listing.id %}">
                <button type="submit" class="btn btn-light"
                    style="background-color:#0f172e !important; color:white;">Update
                </button>
            </a>
        </div>
    </div>
</div>
<br>
{% endfor %}
<br><br>
{% else %}
<br>
<img src="{% static 'svg/car.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">Start posting your parts to your clients</p>
{% endif %}

{% endblock %}