{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<br>
<h3>Create Your Mechanic Profile</h3>
<hr>
<form method="post">
{% csrf_token %}
    <div class="form-group">
        {{ form.first_name|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.last_name|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.phone_number|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.store|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.description|as_crispy_field }}
    </div>
    <div class="form-group">
        {{ form.photo|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-light btn-lg btn-block" style="background-color:#D02222 !important; color:white;">Save</button>
</form>
</div>
<br>
{% endblock %}

{% block footer %}
{% endblock footer %}