{% load static %}

<div class="topnav">
  <!-- <a href="#home" class="active">Logo</a> -->
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col">
          <a href="{% url 'sparedealers:sparepart-list' %}" class="active">
            <img src="{% static 'logo/spares-logo.svg' %}" width="120" height="60" alt="">
          </a>
        </div>
        <div class="col nav_details" style="margin-top: 2%;">{% csrf_token %}
          <form class="example" method="get" action="{% url 'mechanics:search_results' %}"
            style="margin:auto; max-width:500px">
            <input type="text" placeholder="Search for anything in Sparesnmechs" name="q">
          </form>
        </div>
      </div>
    </div>
    <div class="col-4 nav_details">
      <div class="row">
        <div class="col" style="margin-top: 2%;">
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">
            <p style="color: white;">Log out</p>
          </a>
          {% else %}
          <a href="{% url 'login' %}">
            <p style="color: white;">Log in</p>
          </a>
          {% endif %}
          <a href="{% url 'carowners:signup' %}">
            <p style="color: white;">Register</p>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'sparedealers:create' %}"><button type="button" class="btn btn-light btn-lg btn-block"
              style="width: auto; background-color: #0f172e; color: white;">SELL</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>