{% extends 'base.html' %}
{% load static %}
{% block nav %}
{% include "top_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
<ul class="list-group">
  <a href="{% url 'sparedealers:transmission_mounts' %}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Transmission mounts
    </li>
  </a>
  <a href="{% url 'sparedealers:transmission_components' %}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Transmission components
    </li>
  </a>
  <a href="{% url 'sparedealers:trans' %}">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Transmissions
    </li>
  </a>
</ul>
{% endblock %}