{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:electrical' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Electrical</a>
</div> 
{% endblock nav %}

{% block content %}
{% if fog_lamps %}
{% for fog_lamps in fog_lamps %}
<div class="main_container">
    {% if fog_lamps.photo %}
        <img src="{{ fog_lamps.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ fog_lamps.name }}</span>{{ fog_lamps.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ fog_lamps.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ fog_lamps.category }} | <strong>Subcategory: </strong>{{ fog_lamps.sub_category }} | 
        <strong>Condition:</strong> {{ fog_lamps.condition }} | <strong>Year of Manufacture: </strong>{{ fog_lamps.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ fog_lamps.car_make }}| <strong>Car Model: </strong>{{ fog_lamps.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}