{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content%}
<div class="container">
<br>
<h3>Create Your Store</h3>
<hr>
<form method="post">{% csrf_token %}
    <div class="form-group">
        {{ form.name|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted">
        Fill out the name of your store.
        </small>
    </div>
    <div class="form-group">
        {{ form.description|as_crispy_field }}
        <small id="passwordHelpBlock" class="form-text text-muted">
        Optionally decribe your store.
        </small>
    </div>
    <button type="submit" class="btn btn-light btn-lg btn-block" style="background-color:#D02222 !important; color:white;">Save</button>
</form>
</div>
{% endblock %}