{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/svg" href="{% static 'logo/spares-logo.svg' %}" />
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
  <title>Sparesnmechs</title>
</head>

<body>

  {% block nav %}
  {% endblock nav %}


  {% block jumbotron %}
  {% endblock %}

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  <div class="navbar fixed-bottom">
    <a href="{% url 'sparedealers:sparepart-list' %}" class="badge badge-pill badge-light">Home</a>
    <a href="{% url 'sparedealers:create' %}" class="badge badge-pill badge-light">Sell</a>
    <a href="{% url 'sparedealers:requests' %}" class="badge badge-pill badge-light">Request</a>
    <a href="{% url 'sparedealers:listings' %}" class="badge badge-pill badge-light">Profile</a>
  </div>

</body>

</html>

<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>