{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Sparesnmechs</title>
</head>
<body>
  <!-- Top Navigation Menu -->
<div class="topnav">
  <!-- <a href="#home" class="active">Logo</a> -->
  <a href="{% url 'sparedealers:sparepart-list' %}" class="active">
    <img src="{% static 'logo/spares-logo.jpg' %}" width="120" height="60" alt="">
  </a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="{% url 'sparedealers:sparepart-list' %}">Find a dealer</a>
    <a href="{% url 'mechanics:mechanic' %}">Find a mechanic</a>
    <a href="{% url 'sparedealers:create' %}">Become a dealer</a>
    <a href="{% url 'mechanics:create' %}">Become a mechanic</a>
    <a href="#about">Profile</a>
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Log out</a>
    {% else %}
      <a href="{% url 'login' %}">Log in</a>
    {% endif %}
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

{% if user.is_authenticated %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Welcome! Create your profile as either 
    <a href="{% url 'carowners:create' %}" style="color: #0f172e;">car owner</a>, 
    <a href="{% url 'sparedealers:dealer_create' %}" style="color: #0f172e;">dealer</a> or 
    <a href="{% url 'mechanics:mech_create' %}" style="color: #0f172e;">mechanic</a>
  </div>
{% else %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Welcome! Please <a href="{% url 'login' %}" style="color: #0f172e;">login</a> to sparesnmechs 
  </div>
{% endif %}

{% block carousel %}
{% endblock carousel %}
{% include 'messages.html' %}

<div class="container">
  {% block content %}
  {% endblock content %}
</div>

</body>
</html>

<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>