{% extends 'base.html' %}
{% load static %}
{% block nav %}
{% include "base_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
<div class="container col-md-10"
    style="background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
    <br>
    <img src="{% static 'logo/spares-logo.jpg' %}" width="200" height="100" alt=""
        style="margin-left: auto; margin-right: auto; display: block;">
    <br>
    <h4 style="text-align: center;">Our Contact information:</h4>
    <hr>
    <p style="text-align: center;"><i class="fa fa-phone" aria-hidden="true"></i>
        0791549979</p>
    <p style="text-align: center;"><i class="fa fa-envelope" aria-hidden="true"></i>
        sparesnmechs@gmail.com</p>
    <br>
    <hr>
    <p style="text-align: center;" class="text-muted">Talk to us at any time. Your feedback is highly appreciated.</p>
    <br>
</div>
{% endblock %}