{% extends 'base.html' %}
{% load static %}
{% block nav %}
{% include "base_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
<div class="contianer details col-md-10"
    style="background-color: #FFFFFF; margin-left: auto; margin-right: auto; display: block; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 15px;">
    <br>
    <br>
    <div class="row">
        <div class="col-6">
            {% if object.photo %}
            <img src="{{ object.photo.url}}" alt="Avatar" style="width: 100%;">
            {% else %}
            <img src="{% static 'default/process.png' %}" alt="Avatar" style="width: 100%;">
            {% endif %}
        </div>
        <div class="col-6">
            <span>
                <h2>{{ object.name }}</h2>
            </span>
            <span>
                <h4 style="color: #d02222;">KSH {{ object.price }}</h4>
            </span>
            <span>
                <h4>{{ object.phone_number }}</h4>
            </span>
            <br>
            <span>
                <p>{{ object.description }}</p>
            </span>
            <span>
                <p><strong>Category:</strong> {{ object.category }}</p>
            </span>
            <span>
                <p><strong>Sub category:</strong> {{ object.sub_category }}</p>
            </span>
            <span>
                <p><strong>Car Make:</strong> {{ object.car_make }}</p>
            </span>
            <span>
                <p><strong>Car Model:</strong> {{ object.car_model }}</p>
            </span>
            <span>
                <p><strong>Year of Manufacture:</strong> {{ object.year_of_manufacture }}
                </p>
            </span>
        </div>
    </div>
    <br>
    <br>
</div>
<br><br><br>
{% endblock %}