{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav %}
<style>
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: white;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #0f172e;
    font-size: 35px;
    font-weight: bold;
  }

  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: #0f172e;
    cursor: pointer;
  }

  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }

    to {
      -webkit-transform: scale(1)
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0)
    }

    to {
      transform: scale(1)
    }
  }
</style>

<!-- Top Navigation Menu -->
<div class="topnav">
  <!-- <a href="#home" class="active">Logo</a> -->
  <div class="row">
    <div class="col-8">
      <a href="{% url 'sparedealers:sparepart-list' %}" class="active">
        <img src="{% static 'logo/spares-logo.svg' %}" width="120" height="60" alt="">
      </a>
    </div>
    <div class="col-4 nav_details">
      <div class="row">
        <div class="col" style="margin-top: 2%; margin-left: 10%;">
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">
            <p style="color: white;">Log out</p>
          </a>
          {% else %}
          <a href="{% url 'login' %}">
            <p style="color: white;">Log in</p>
          </a>
          {% endif %}
          <a href="{% url 'carowners:signup' %}">
            <p style="color: white;">Register</p>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'sparedealers:create' %}"><button type="button" class="btn btn-light btn-lg btn-block"
              style="width: auto; background-color: #0f172e; color: white;">SELL</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock nav %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" style="background-color: #d02222;">
  {% include "messages.html" %}
  <div class="container">
    <div class="alert" style="margin:auto; max-width:320px">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <a href="{% url 'mechanics:speciality' %}" style="color: white !important;">Find a garage or mechanic instead?</a>
    </div>
    <p class="lead" style="text-align: center;">Find anything in sparesnmechs</p>
    <!-- Phone filter -->
    <form style="margin:auto; max-width:500px">
      <div class="container">
        <div class="row">
          <div class="col-10" style="background-color: #D3D3D3">
            <span>
              <div class="row">
                <div class="col">{{ filter.form.car_make|as_crispy_field }}</div>
                <div class="col">{{ filter.form.car_model|as_crispy_field }}</div>
              </div>
            </span>
          </div>
          <div class="col-2" style="background-color: #0f172e">
            <br><button type="submit"
              style="width: auto; background-color: #0f172e; margin-top: 15%; margin-bottom: auto; display: block;"><i
                class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </form>
    <br>
    <!-- Desktop search bar -->
    <!-- <form class="example" method="get" action="{% url 'sparedealers:search_results' %}"
      style="margin:auto; max-width:500px">
      <input type="text" placeholder="Search.." name="q">
    </form> -->
    <span><button onclick="document.getElementById('id01').style.display='block'"
        style="width: auto; background-color: #0f172e; margin-left: auto; margin-right: auto; display: block;">Advanced
        Search</button></span>

    <!-- The Modal -->
    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span>

      <!-- Modal Content -->
      <form method="get" class="modal-content animate">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
          title="Close Modal">&times;</span>
        <div class="container">
          <br>
          <div class="row">
            <div class="col">{{ filter.form.category|as_crispy_field }}</div>
            <div class="col">{{ filter.form.sub_category|as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col">{{ filter.form.car_make|as_crispy_field }}</div>
            <div class="col">{{ filter.form.car_model|as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col">{{ filter.form.year_of_manufacture__lt|as_crispy_field }}</div>
            <div class="col">{{ filter.form.year_of_manufacture__gt|as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col">{{ filter.form.condition|as_crispy_field }}</div>
          </div>
        </div>
        <button type="submit" class="btn btn-light"
          style="background-color:#0f172e !important; color:white; margin-left: auto; margin-right: auto; display: block;">Advanced
          Search</button>
      </form>
      <br>
    </div>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  const categoryInput = document.querySelector("select#id_category")
  const subcategoryInput = document.querySelector("select#id_sub_category")

  categoryInput.onchange = function (e) {
    getAndSetSubcategories(e.target.value)
  }

  function getAndSetSubcategories(category) {
    let subCatReq = new XMLHttpRequest()

    subCatReq.addEventListener("load", function (e) {
      let subcategories = JSON.parse(e.target.response)

      // Map the list of subcategory objects to a list of options
      subcategories = subcategories.map(function (subcategory) {
        return `<option value="${subcategory.pk}">${subcategory.fields.name}</option>`
      })

      // Add default option to start of the array
      subcategories.splice(0, 0, '<option value="" selected="">---------</option>')

      subcategoryInput.innerHTML = subcategories.join(" ")
    })

    subCatReq.open("GET", `{% url 'sparedealers:get_subcategories' %}?category=${category}`)
    subCatReq.send()
  }

  // Get car model car_make == category
  const car_makeInput = document.querySelector("select#id_car_make")
  const car_modelInput = document.querySelector("select#id_car_model")

  car_makeInput.onchange = function (e) {
    getAndSetCarmodels(e.target.value)
  }

  function getAndSetCarmodels(car_make) { //subCatReg == carmodelReq
    let carModelReq = new XMLHttpRequest()

    carModelReq.addEventListener("load", function (e) { //subcategories ==car_models
      let car_models = JSON.parse(e.target.response)

      // Map the list of subcategory objects to a list of options
      subcategories = car_models.map(function (car_model) {
        return `<option value="${car_model.pk}">${car_model.fields.name}</option>`
      })

      // Add default option to start of the array
      car_models.splice(0, 0, '<option value="" selected="">---------</option>')

      car_modelInput.innerHTML = subcategories.join(" ")
    })

    carModelReq.open("GET", `{% url 'carowners:get_carmodels' %}?car_make=${car_make}`)
    carModelReq.send()
  }
</script>

{% endblock %}

{% block sidebar %}
<div class="sidebar" style="margin-left: 20px;">
  <form action="">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-light"
      style="background-color:#0f172e !important; color:white; margin-left: auto; margin-right: auto; display: block;">Filter
      Parts</button>
  </form>
  <br><br>
</div>
{% endblock %}

{% block index %}
{% if filter.qs %}
<div class="row" style="margin-left: auto; margin-right: auto; display: block;">
  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:accessories' %}">
        <img src="{% static 'svg/accessories.jpg' %}">
        <p>Accessories</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:audio' %}">
        <img src="{% static 'svg/audio_n_video.jpg' %}">
        <p>Audio & Video</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:electrical' %}">
        <img src="{% static 'svg/electrical.jpg' %}">
        <p>Electrical</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:engine' %}">
        <img src="{% static 'svg/engine.jpg' %}">
        <p>Engine</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:exterior' %}">
        <img src="{% static 'svg/exterior.jpg' %}">
        <p>Exterior</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:interior' %}">
        <img src="{% static 'svg/interior.jpg' %}">
        <p>Interior</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:performance' %}">
        <img src="{% static 'svg/performance.jpg' %}">
        <p>Performance</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:suspension' %}">
        <img src="{% static 'svg/suspension.jpg' %}">
        <p>Suspension</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:transmission' %}">
        <img src="{% static 'svg/transmission.jpg' %}">
        <p>Transmission</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="{% url 'sparedealers:wheels' %}">
        <img src="{% static 'svg/wheels_n_tyres.jpg' %}">
        <p>Wheels & Tyres</p>
      </a>
    </div>
  </div>
</div>
<hr>
<div class="hero-image">
  <div class="hero-text">
    <h1>Sparesnmechs featured ADs</h1>
    <p>Would you like your AD to appear on this front page?</p>
    <a href="{% url 'carowners:contact' %}"><button>Contact us</button></a>
  </div>
</div>
<br>
<span>
  <p class="text-muted" style="text-align: center;">Products coming soon!</p>
</span>
<br>
<br>
{% else %}
<br>
<img src="{% static 'svg/search.png' %}" width="200" height="200" alt=""
  style="margin-left: auto; margin-right: auto; display: block; margin-top: auto; margin-bottom: auto;">
<br>
<span>
  <h3 style="text-align: center;"><strong>Oops! Part Not Found</strong></h3>
  <p class="text-muted" style="text-align: center;">Change filter keywords or add a new part</p>

  <br>
  <a href="{% url 'sparedealers:create' %}"><button type="submit" class="btn btn-light col-md-4"
      style="background-color:#0f172e !important; color:white; margin-left: auto; margin-right: auto; display: block;">Add
      sparepart</button></a>
</span>
<br>
<br>
<br>
{% endif %}
{% endblock %}