{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% include "top_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <a href="{% url 'mechanics:listings' %}" style="color: white !important;">View my mechanic listings instead?</a>
</div>
{% if listings %}
{% for listing in listings %}
<div class="main_container">
    {% if listing.photo %}
    <img src="{{ listing.photo.url}}" alt="Avatar" style="width:100px; height: 80px;">
    {% else %}
    <img src="{% static 'svg/car.png' %}" alt="Avatar" style="width:100px; height: 80px;">
    {% endif %}
    <span>
        <p style="font-size: smaller;">{{ listing.name }}</p>
    </span>
    <span>
        <p style="font-size: smaller;">{{ listing.price }}</p>
    </span>
    <hr>
    <div class="row">
        <div class="col">
            <a href="{% url 'sparedealers:delete' listing.id %}">
                <button type="submit" class="btn btn-light"
                    style="background-color:#0f172e !important; color:white;">Delete
                </button>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'sparedealers:update' listing.id %}">
                <button type="submit" class="btn btn-light"
                    style="background-color:#0f172e !important; color:white;">Update
                </button>
            </a>
        </div>
    </div>
</div>
{% endfor %}
<br><br>
{% else %}
<br>
<img src="{% static 'svg/car.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">Start posting your parts to your clients</p>
{% comment %} <a href="{% url 'sparedealers:create' %}"><button type="submit" class="btn btn-light"
        style="background-color:#0f172e !important; color:white;">Sell a part</button></a> {% endcomment %}
{% endif %}

{% endblock %}