{% extends 'base.html' %}
{% load static %}

{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:sparepart-list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Home</a>
</div> 
{% endblock nav %}

{% block content %}
    {% if listings %}
        {% for listing in listings %}
            <a href="{% url 'mechanics:update' listing.id %}">
            <div class="main_container">
                {% if listing.photo %}
                    <img src="{{ listing.photo.url}}" alt="Avatar" style="width:100px">
                {% else %}
                    <img src="{% static 'default/index.png' %}" alt="Avatar" style="width:100px">
                {% endif %}
                <p><span>{{ listing.name }}</span>  -  Ksh:{{ listing.price }}</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i>
                    {{ listing.phone_number }}</p>
                <hr>
                <p><strong>Car make: </strong>{{ listing.car_make }} | <strong>Region: </strong>{{ listing.region }} | 
                    <strong>Place:</strong> {{ listing.place }}</p>
                <a href="{% url 'mechanics:delete' listing.id %}"><button type="submit" class="btn btn-light" style="background-color:#0f172e !important; color:white;">Delete</button></a>
            </div>
            </a>
        {% endfor %}
    {% else %}
        <br>
        <img src="{% static 'svg/car.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
        <br>
        <p style="text-align: center;">Start posting your specialities to your clients</p>
        <a href="{% url 'mechanics:create' %}"><button type="submit" class="btn btn-light" 
            style="background-color:#0f172e !important; color:white;">Post new listing</button></a>
    {% endif %}
    
{% endblock %}