{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav %}
{% include "top_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
<span>
    <p class="text-muted" style="text-align: center;">
        Send a short message describing your requests and we will get right back to you.
    </p>
</span>
<form method="post" class="col-md-5" style="margin-left: auto; margin-right: auto; display: block;">{% csrf_token %}
    {{ form.car_make|as_crispy_field }}
    {{ form.chasis_number|as_crispy_field }}
    {{ form.part|as_crispy_field }}
    {{ form.location|as_crispy_field }}
    {{ form.phone_number|as_crispy_field }}
    <button type="submit" class="btn btn-light" style="background-color:#0f172e !important; color:white;">Request a
        part</button>
</form>
<br><br>
{% endblock %}