{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:exterior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Exterior</a>
</div> 
{% endblock nav %}

{% block content %}
{% if body_kit %}
{% for body_kit in body_kit %}
<div class="main_container">
    {% if body_kit.photo %}
        <img src="{{ body_kit.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ body_kit.name }}</span>{{ body_kit.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ body_kit.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ body_kit.category }} | <strong>Subcategory: </strong>{{ body_kit.sub_category }} | 
        <strong>Condition:</strong> {{ body_kit.condition }} | <strong>Year of Manufacture: </strong>{{ body_kit.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ body_kit.car_make }}| <strong>Car Model: </strong>{{ body_kit.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}