{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:exterior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Exterior</a>
</div> 
{% endblock nav %}

{% block content %}
{% if canards %}
{% for canards in canards %}
<div class="main_container">
    {% if canards.photo %}
        <img src="{{ canards.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ canards.name }}</span>{{ canards.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ canards.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ canards.category }} | <strong>Subcategory: </strong>{{ canards.sub_category }} | 
        <strong>Condition:</strong> {{ canards.condition }} | <strong>Year of Manufacture: </strong>{{ canards.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ canards.car_make }}| <strong>Car Model: </strong>{{ canards.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}