{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:exterior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Exterior</a>
</div> 
{% endblock nav %}

{% block content %}
{% for door in doors %}
<div class="main_container">
    {% if door.photo %}
        <img src="{{ door.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ door.name }}</span>{{ door.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ door.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ door.category }} | <strong>Subcategory: </strong>{{ door.sub_category }} | 
        <strong>Condition:</strong> {{ door.condition }} | <strong>Year of Manufacture: </strong>{{ door.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ door.car_make }}| <strong>Car Model: </strong>{{ door.car_model }}</p>
</div>
{% endfor %}
{% endblock %}