{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:exterior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        Exterior</a>
</div>
{% endblock nav %}

{% block content %}
{% if eye_lids %}
{% for eye_lids in eye_lids %}
<a href="{% url 'sparedealers:sparepart_detail' eye_lids.id %}">
    <div class="main_container">
        {% if eye_lids.photo %}
        <img src="{{ eye_lids.photo.url}}" alt="Avatar" style="width:100px">
        {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
        {% endif %}
        <span>
            <p style="color: #0f172e;">{{ eye_lids.name }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Price:</strong> {{ eye_lids.price }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Contact info:</strong> {{ eye_lids.phone_number }}</p>
        </span>
    </div>
</a>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}