{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:exterior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Exterior</a>
</div> 
{% endblock nav %}

{% block content %}
{% for headlamp in headlamps %}
<div class="main_container">
    {% if headlamp.photo %}
        <img src="{{ headlamp.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ headlamp.name }}</span>{{ headlamp.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ headlamp.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ headlamp.category }} | <strong>Subcategory: </strong>{{ headlamp.sub_category }} | 
        <strong>Condition:</strong> {{ headlamp.condition }} | <strong>Year of Manufacture: </strong>{{ headlamp.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ headlamp.car_make }}| <strong>Car Model: </strong>{{ headlamp.car_model }}</p>
</div>
{% endfor %}
{% endblock %}