{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:exterior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Exterior</a>
</div> 
{% endblock nav %}

{% block content %}
{% for signal_light in signal_lights %}
<div class="main_container">
    {% if signal_light.photo %}
        <img src="{{ signal_light.photo.url}}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ signal_light.name }}</span>{{ signal_light.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ signal_light.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ signal_light.category }} | <strong>Subcategory: </strong>{{ signal_light.sub_category }} | 
        <strong>Condition:</strong> {{ signal_light.condition }} | <strong>Year of Manufacture: </strong>{{ signal_light.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ signal_light.car_make }}| <strong>Car Model: </strong>{{ signal_light.car_model }}</p>
</div>
{% endfor %}
{% endblock %}