{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:exterior' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Exterior</a>
</div> 
{% endblock nav %}

{% block content %}
{% if tail_lights %}
{% for tail_lights in tail_lights %}
<div class="main_container">
    {% if tail_lights.photo %}
        <img src="{{ tail_lights.photo.url}}" alt="Avatar" style="width:100px">
    {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
    {% endif %}
    <p><span>{{ tail_lights.name }}</span>{{ tail_lights.price }}</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>
        {{ tail_lights.phone_number }}</p>
    <br>
    <hr>
    <p><strong>Category: </strong>{{ tail_lights.category }} | <strong>Subcategory: </strong>{{ tail_lights.sub_category }} | 
        <strong>Condition:</strong> {{ tail_lights.condition }} | <strong>Year of Manufacture: </strong>{{ tail_lights.year_of_manufacture }} 
        | <strong>Car make: </strong>{{ tail_lights.car_make }}| <strong>Car Model: </strong>{{ tail_lights.car_model }}</p>
</div>
{% endfor %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt="" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}