{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="topnav">
    <a class="active" href="{% url 'sparedealers:suspension' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        Suspension</a>
</div>
{% endblock nav %}

{% block content %}
{% if shock_absorbers %}
{% for shock_absorbers in shock_absorbers %}
<a href="{% url 'sparedealers:sparepart_detail' shock_absorbers.id %}">
    <div class="main_container">
        {% if shock_absorbers.photo %}
        <img src="{{ shock_absorbers.photo.url}}" alt="Avatar" style="width:100px">
        {% else %}
        <img src="{% static 'default/process.png' %}" alt="Avatar" style="width:100px">
        {% endif %}
        <span>
            <p style="color: #0f172e;">{{ shock_absorbers.name }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Price:</strong> {{ shock_absorbers.price }}</p>
        </span>
        <span>
            <p style="font-size: smaller;"><strong>Contact info:</strong> {{ shock_absorbers.phone_number }}</p>
        </span>
    </div>
</a>for %}
{% else %}
<br>
<img src="{% static 'svg/process.png' %}" width="100" height="100" alt=""
    style="margin-left: auto; margin-right: auto; display: block;">
<br>
<p style="text-align: center;">No parts found yet...</p>
{% endif %}
{% endblock %}