{% extends 'base.html' %}
{% load static %}
{% block nav %}
{% include "base_nav.html" %}
{% endblock nav %}

{% block content %}
<br>
<div class="container col-md-8">
  <h4>Suspensions subcategories</h4>
  <ul class="list-group">
    <a href="{% url 'sparedealers:driveline_and_axles' %}">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Driveline and axles
      </li>
    </a>
    <a href="{% url 'sparedealers:spacers' %}">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Spacers
      </li>
    </a>
    <a href="{% url 'sparedealers:shock_absorbers' %}">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Shock absorbers
      </li>
    </a>
    <a href="{% url 'sparedealers:ecus' %}">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Ecus
      </li>
    </a>
  </ul>
</div>
{% endblock %}